<div class="container">

  <div class="row">
    <div class="col jq-container" *ngFor="let filter of prop.filters">
      <h5>{{ filter.filter_name }}(s)</h5>
      <hr />
      <form class="form-inline">
        <input type="text" class="form-control form-control-sm"  />
        <button class="btn btn-primary btn-sm" (click)="searchByName($event)"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
      <ul class="list-unstyled filters">
        <li *ngFor="let item of filter.items" [attr.data-filter]="item.name.toLowerCase()">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" (click)="selectTag($event, item)" type="checkbox" value="angular"> {{ item.name }}
            </label>
          </div>
        </li>        
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="applyFilter()">Apply</button>
    </div>
  </div>

</div>